header {
	width: 100%;
	height: 100px;
	background: #0c91a4;
	position: relative;
	z-index: 2;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

h1.logo {
  font-family: 'Lobster', cursive;
	font-size: 4em;
	font-weight: 400;
	/* float: left; */
  text-align: center;
	padding: 5px;
	margin-top: 25px;
  color: #fff;

}

.randy-pic{
  float: right;
  margin-top: -350px;
  padding-right: 150px;
}

body{
  background-color: #e7f5f7;
}

textarea{
  margin-left: 5vw;
  position: relative;
}

.btn.teal.pull-right {
  margin-left: 5vw;
  position: relative;
}

/* Chat containers */

.text-container {
  overflow-y: scroll; height: 300px;

}

.container {
    border: 2px solid #dedede;
    background-color: #a0d9ef;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    /* overflow-y: scroll; height: 100px; */
    /* overflow-y: scroll; */
    /* overflow-y: auto; */
    width: 50%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -45vw;
    margin-right: -50vw;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #90b6f4;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}








/*
  Modulr.css
  ---------------------
  @desc: Modular CSS Framework
  @author: Decorator.io
  @twitter: https://www.twitter.com/_uloga
  @source: http://www.decorator.io/modulr
\--------------------------------------------*/

/* __ extra edits __ */

/* body{
  background: #eee;
} */
.shadow{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.thumbnail img{
  float: left;
  width: 60%;
  border: 1px solid #ddd;
}
.before{
  border: 1px solid #009688;
}
.before:before {
  content: "";
  border-left: 1px solid #009688;
  position: absolute;
  left: -12%;
  height: 112%;
  top: -22px;
}
.after:after {
  content: "";
  border-bottom: 1px solid #009688;
  position: absolute;
  width: 60%;
  left: 41%;
  top: 45%;
}
.filter .label{
  float: left;
  margin-top: 13px;
  margin-right: 5px;
}
@media (max-width: 800px){
  .after:after {
    border-bottom: none;
    border-left: 1px solid #009688;
    height: 50px;
    top: -20px;
    left: 50%;
    width: 2px;
    z-index: -1;
  }
}




body {
  font-family: Helvetica, Arial, sans-serif;
}


/* -------------------------------------------- BUTTONS -------------*/

.btn.red.pull-right {
	background-color: #c80000;
	margin-left: 10px;
}

body .btn {
	margin-top: 10px;

  display: inline-block;
  padding: 6px 14px 6px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #0077C8;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 95%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 95%);
  background-image: -linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 95%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 95%);
  background-repeat: repeat-x;
  border: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
  -webkit-transition: 0.1s;
     -moz-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body .btn:hover {
  background-color: #0098ff;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 -4px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -4px 0 rgba(0,0,0,.2);
  margin-top: -2px;
  padding: 6px 14px 8px;
}

body .btn:active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  margin-top: 2px;
  padding: 6px 14px 4px;
}

/* body .btn-gray { color:#000000; background-color: #F5F5F5; }
body .btn-gray:hover { background-color:#DDDDDD; }
body .btn-dkblue { background-color: #054375; }
body .btn-dkblue:hover { background-color:#0066b8; }
body .btn-ltblue { background-color: #00a4d8; }
body .btn-ltblue:hover { background-color:#01c2ff; }
body .btn-black { background-color: #222222; }
body .btn-black:hover { background-color:#444444; } */

body .btn-large {
  padding: 8px 28px;
  font-size: 20px;
  line-height: 30px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
}

body .btn-large:hover {
  -webkit-box-shadow: inset 0 -6px 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 -6px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -6px 0 rgba(0,0,0,.2);
  margin-top: -4px;
  padding: 8px 28px 12px;
}

body .btn-large:active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  margin-top: 3px;
  padding: 8px 28px 5px;
}

/* body .btn-small {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 8px;
  margin-top: -5px;
  margin-bottom:-4px;
} */

/* body .btn-small:hover {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 8px 2px;
  margin-top: -7px;
}

body .btn-small:active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
padding: 0 8px 0px;
margin-top: -5px;
} */

body .btn-block {
  padding: 8px 28px;
  font-size: 20px;
  line-height: 30px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  width:100%;
  max-width:960px

}
body .btn-block:hover {
  -webkit-box-shadow: inset 0 -6px 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 -6px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -6px 0 rgba(0,0,0,.2);
  margin-top: -4px;
  padding: 8px 28px 12px;
}

body .btn-block:active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  margin-top: 3px;
  padding: 8px 28px 5px;
}
